<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EachOther</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <!--header-->
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                &nbsp;Demo
            </a>
            <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">主页</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">关于</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--body-->
    <div>
        @RenderBody()
    </div>

</body>
</html>