@model List<Article>

@{
    ViewData["Title"] = "Articles";
}

<link rel="stylesheet" href="/css/article/index.css" />
<script src="/js/article/index.js"></script>

<div id="post" class="container">
    <div id="loading" class="mt-4">
        <h2 id="nothing" class="display-4" hidden>这里什么也没有，快去留言吧！</h2>

        <div class="container">
            <div class="row"><div class="box col-md-3"></div></div>
            <div class="row"><div class="box col-md-6"></div></div>
            <div class="row"><div class="box col"></div></div>
            <div class="row"><div class="box col-md-4"></div></div>
            <div class="row"><div class="box col-md-8"></div></div>
            <div class="row"><div class="box col-md-3"></div></div>
            <div class="row"><div class="box col"></div></div>
            <div class="row"><div class="box col-md-4"></div></div>
            <div class="row"><div class="box col-md-8"></div></div>
            <div class="row"><div class="box col-md-3"></div></div>
            <div class="row"><div class="box col"></div></div>
            <div class="row"><div class="box col-md-6"></div></div>
            <div class="row"><div class="box col-md-4"></div></div>
        </div>
    </div>

    <div class="row no-gutters">
        <input id="pageCount" type="hidden" value="@ViewBag.pageCount" />
    </div>

    <div id="endWarning" class="row mb-1" hidden>
        <div class="col text-center">
            <p>没有更多了</p>
        </div>
    </div>
</div>

<script>init();</script>