.container {
    padding-right: 0;
    padding-left: 0;
}

a {
    color: #666666;
}

#post {
    line-height: 1.8;
    color: #666666;
}

#post > p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}

#loading {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

#loading .box {
    height: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0; 
}
  
.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; 
}

.blog-entry {
    width: 100%;
    margin-bottom: 0;
    background: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.blog-entry .img {
    display: block;
    width: 100%;
    height: 340px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.blog-entry .img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #0028ff;
    z-index: -1;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
    .blog-entry .img {
        margin: 0 auto;
    } 
}

.blog-entry .img .icon {
    width: 60px;
    height: 60px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}

.blog-entry .img.img-2 {
    width: 50%; 
}

@media (max-width: 767.98px) {
    .blog-entry .img.img-2 {
        width: 100%; 
    } 
}

.blog-entry .text {
    position: relative;
    z-index: 0;
    width: 100%; 
}

.blog-entry .text.text-2 {
    width: 50%; 
}

@media (max-width: 767.98px) {
    .blog-entry .text.text-2 {
        width: 100%; 
    } 
}

@media (max-width: 767.98px) {
    .blog-entry .text {
        width: 100%;
        text-align: center; 
    } 
}

.blog-entry .text h3 {
    font-weight: 400;
    font-size: 20px;
    font-family: "Poppins", Arial, sans-serif; 
}

.blog-entry .text h3 a {
    color: #000000; 
}

.blog-entry .text .meta-wrap {
    width: 100%;
    display: block; 
}

.blog-entry .text .meta-wrap .meta span {
    font-size: 13px;
    margin: 0 0 0 0;
    color: #bfbfbf; 
}

.blog-entry .text .meta-wrap .meta span a {
    color: #000000; 
}

.blog-entry.active, .blog-entry:hover {
    background: #0028ff;
    color: rgba(255, 255, 255, 0.8); 
}

.blog-entry.active .text h3 a, .blog-entry:hover .text h3 a {
    color: #fff; 
}

.blog-entry.active .meta-wrap .meta span, .blog-entry:hover .meta-wrap .meta span {
    color: #fff; 
}

.blog-entry.active .meta-wrap .meta span a, .blog-entry:hover .meta-wrap .meta span a {
    color: #fff; 
}

.blog-entry.active .btn-custom, .blog-entry:hover .btn-custom {
    color: #fff; 
}

.blog-entry:hover .img:after {
    opacity: 0.7; 
}

#endWarning {
    font-weight: bold;
    color: #666666;
    margin: 20px;
}