@model Article

<div class="container">
    <h1 class="display-4 mt-4">@Model.Title</h1>
    <br />
    <p>
        <strong class="text-muted">
            <span>@Model.Date</span>
            | China Standard Time
        </strong>
    </p>
    <p>@Model.Overview</p>
    <hr />
    <div class="container">
        @Html.Raw(Model.Content)
    </div>
</div>