<link rel="stylesheet" href="/css/article/detail.css" />

<div id="detail" class="container mt-5">
    <header>
        <h4 class="display-4">宝贝，七夕快乐~</h4>
        <hr>

        <div class="d-md-block mb-2">
            <strong class="text-muted">
                <span>2020/8/24</span>
                | China Standard Time
            </strong>
        </div>

        <p>
            宝贝，我欠你的500字情书,希望你能喜欢😘。
        </p>

        <hr>
    </header>

    <section>
        <p><strong>宝贝</strong>今天是认识你的第160天，嗯嗯，如果你没提前看到的话，当然我说的认识是指真正的开始和你交往。
        今天还是我和你表白的第6周整，并且还是七夕，很抱歉和你的第一个情人节就要在两个地方度过，好对不起你啊！</p>

        <p>能够遇到你，真的真的真的是我遇到的<span style="color: red;">最最最幸运</span>的事情了😏，即使认识你的时间比较差强人意，但是我愿意用接下来的时间来弥补错过的三年，希望我可以让你快乐，宝贝~</p>

        <p>你问过我好多次，你第一次加我的时候有没有很开心，老婆加我，我当然开心咯，超级超级开心😁，但你一上来就问我写什么东西，我当时还挺失望的，哈哈哈哈，还好之后你会每天来找我聊天。</p>

        <p>emmmmmm，宝贝，你总是说我不主动。。我的确有点不主动吧，每天都是你在给我发消息。。。。我那时候每天都在等你的消息，如果你那天没有找我，我就会感觉少点什么，肯定会去问你的。慢慢的可能就再也离不开你了。</p>

        <p>我喜欢和你在一起的时候，即使什么都不做，每次和你在一起的时候，我就总是会偷偷看你，看你的侧脸，因为你真的好美啊😍！我好喜欢你的眼睛，好可爱好温柔啊啊啊啊啊，就是给我一种特别特别强的保护欲吧，哈哈哈哈哈。</p>

        <p>宝贝，我已经错过了三年了，我不要再错过现在了。你说过，你每天睡起来就是找我，然后一天缠着我，我就是你的全部了，宝贝，你也是我的全部呀。我不要再错过任何时候的你了。如果可以，希望我的下半辈子全都是你，一起生活，一起工作，然后有孩子，然后变老，然后我永远都最爱你，然后你永远给我撒娇，欺负我，好嘛宝贝~</p>

        <p>虽说咱们有时候也会吵架吧，甚至还提出过分手，我居然还同意了，现在想想好傻啊啊啊，但是我就是害怕你不喜欢我，然后会烦我，会让你不开心。。。我不希望你不开心。但是宝贝，你有发现嘛，你和我生气的理由只有一个，就是有时候我可能在干嘛，然后和你说话的时候脑子比较短路，然后你就会觉得我不爱你了，或者不是特别在乎你，哈哈哈哈，好傲娇啊。你有没有觉得这其实是一件好事呀，因为我们没有因为别的任何事情吵架，仅仅是因为异地导致我们没有办法相互陪伴，emmmmm或者说手机上比较像网恋，就很不好，但是宝贝，最难的马上就熬到头了呀，很快咱们就又可以在一起了，如果异地都不能让我们分开，那还有什么问题是解决不了的呢，对嘛？宝贝，我真的真的好爱你呀！好希望每天睁开眼睛就能看到你，那样简直太棒了吧。</p>

        <p>我记得我第一次见你的时候，炒酸奶那次不算啊，就是正式一点的时候，你还躲在你们宿舍人后面，哈哈哈好可爱，如果以后也可以那样多好，每天晚上可以和你出去走走，好满足了~ 但是毕业了，害，我不喜欢说以前，所以就不抱怨为什么不早点认识你了，我相信现在是一个最好的开始，我们会越走越近，最后走到一起，每天在一起，一直走下去，我陪你，宝贝。</p>

        <p>希望以后的情人节我们都可以一起过，不止是情人节，每年每月每天每分每秒，希望都可以和你一起度过。我愿意去争取一切可能，只要能和你在一起。</p>

        <p>还有谢谢你的礼物，我超级喜欢！</p>
        <p></p>宝贝，我爱你~ 超级超级爱的那种~ MUA~ 七夕快乐~ 😘😘😘</p>
    </section>
</div>
