@model ArticleViewModel

<script src="/lib/ckeditor4/ckeditor.js"></script>
<link rel="stylesheet" href="/css/article/editor.css" />

<div class="container pt-4">
    <h1 class="display-4">Editor</h1>
    <hr />

    <form asp-controller="Article" asp-action="AddArticle" method="post">

        <input asp-for="Id" type="hidden" />

        <label asp-for="Title"></label>*
        <input asp-for="Title" type="text" autocomplete="off" class="form-control" />

        <label asp-for="Overview"></label>*
        <input asp-for="Overview" type="text" autocomplete="off" class="form-control" />

        <label asp-for="Content"></label>*
        <textarea name="htmlEditor"></textarea>
        <input id="content" asp-for="Content" type="hidden"/>

    </form>

    <button class="btn btn-primary mt-4 mb-4" onclick="upload()">Upload</button>

    <script src="/js/article/editor.js"></script>
</div>