@model ArticleViewModel

<script src="/lib/ckeditor4/ckeditor.js"></script>
<link rel="stylesheet" href="/css/article/editor.css" />

<script src="/js/article/editor.js"></script>

<div class="container mt-5">
    <h1 class="display-4">Editor</h1>
    <hr />

    <form asp-controller="Article" asp-action="AddArticle" method="post">

        <input asp-for="Id" type="hidden" />

        <label asp-for="Title"></label>*
        <input asp-for="Title" type="text" autocomplete="off" class="form-control" />

        <label asp-for="Overview"></label>*
        <input asp-for="Overview" type="text" autocomplete="off" class="form-control" />

        <label asp-for="Content"></label>*
        <textarea asp-for="Content" name="editor1"></textarea>
        <script>
            CKEDITOR.replace( 'editor1' );
        </script>

        <br />
        <input type="submit" value="Upload" class="btn btn-success" />
    </form>
</div>