@model List<Article>

@{
    ViewData["Title"] = "Articles";
}

<link rel="stylesheet" href="/css/article/index.css" />
<script src="/js/article/index.js"></script>

<div id="post" class="container">
    <div class="row no-gutters"></div>
</div>

<script>getArticles(1);</script>