@model List<Article>

@{
    ViewData["Title"] = "Articles";
}

<link rel="stylesheet" href="/css/article/index.css" />
<script src="/js/article/index.js"></script>

<div id="post" class="container">
    <div id="nothing"class="mt-4">
        <h2 class="display-4">There is nothing here</h2>
        
        <div id="loading" class="container">
            <div class="row"><div class="box col-md-6"></div></div>
            <div class="row"><div class="box col"></div></div>
            <div class="row"><div class="box col-md-4"></div></div>
            <div class="row"><div class="box col-md-8"></div></div>
            <div class="row"><div class="box col-md-3"></div></div>
            <div class="row"><div class="box col"></div></div>
            <div class="row"><div class="box col-md-4"></div></div>
            <div class="row"><div class="box col-md-8"></div></div>
            <div class="row"><div class="box col-md-3"></div></div>
            <div class="row"><div class="box col"></div></div>
            <div class="row"><div class="box col-md-6"></div></div>
            <div class="row"><div class="box col-md-4"></div></div>
        </div>
    </div>

    <div class="row no-gutters">
        <input id="pageCount" type="hidden" value="@ViewBag.pageCount" />
    </div>
</div>

<script>init();</script>