@model ArticleViewModel

<script src="/lib/ckeditor4/ckeditor.js"></script>

<div class="container pt-4 pb-2">
    <h1 class="display-4">Editor</h1>
    <hr />

    <form action="@ViewBag.Action" method="post">

        <input asp-for="ArticleCode" type="hidden" />

        <label asp-for="Title"></label>*
        <input asp-for="Title" type="text" autocomplete="off" class="form-control" />

        <div>
            <label asp-for="CoverUrl"></label>*
            <div class="input-group">
                <input asp-for="CoverUrl" type="text" autocomplete="off" class="form-control" id="coverUrl" />
                <input id="fileSelector" type="file" onchange="uploadCover()" hidden />
                <div class="input-group-append">
                    <button id="uploading" class="btn btn-outline-secondary" type="button" onclick="showSelector()">Upload Cover</button>
                </div>
            </div>
        </div>

        <label asp-for="Overview"></label>*
        <input asp-for="Overview" type="text" autocomplete="off" class="form-control" />

        <label asp-for="Content"></label>*
        <textarea name="htmlEditor"></textarea>
        <input id="articleContent" asp-for="Content" type="hidden"/>

    </form>

    <button class="btn btn-primary mt-4 mb-4" onclick="upload()">Upload</button>

    <script src="/js/article/editor.js"></script>
</div>