@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/home/index.css"/>

<!--body-->
<div id="main" class="container">
    
    <ul class="cb-slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <div class="container-fluid">
        <div class="row cb-slideshow-text-container ">

            <div class= "tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
                <header class="mb-5"><h4>标题*****</h4></header>
                
                <p id="tips" class="mb-3">输入 手机号&微信号</p>
                
                <form class="form-inline">
                    <select class="custom-select mb-3" id="inlineFormCustomSelectPref">
                        <option selected>类别</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    
                    <input type="text" class="form-control mb-3"/>
                </form>

                <button class="btn btn-primary">查询</button>

            </div>
        </div>
        
        <div class="footer-link">
            <p><a href="/admin.html">&COPY; 2020 - EachOther</a></p>
        </div>
    </div>
    
</div>