body {
    padding-top: 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #666666;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#content {
    flex: 1;
    padding: 0;
}

footer{
    padding-top: 20px;
    background-color: whitesmoke;
}

footer a {
    color: #616161;
}

.btn, .form-control {
    border-radius: 0;
}

.marker {
    background-color: yellow;
}