body {
    padding-top: 50px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    color: #666666;
}

.logo{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

#content {
    flex: 1;
    padding: 0;
}

footer{
    padding-top: 20px;
    background-color: whitesmoke;
}

footer a {
    color: #616161;
}

.btn, .form-control {
    border-radius: 0;
}

.marker {
    background-color: yellow;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    visibility: hidden;
    cursor: pointer;
}

.gototop.active {
    visibility: visible;
    color: white;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
}

.gototop a i {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}